*{
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #3BD8DD;
  color: white;
  font-size: 25px;
}

body {
  background-color: #FFFDF4;
}
.house:hover {
  background-color: white;
}

#name {
  font-size: 35px;
  margin-top: .5%;
  text-align: center;
}
#yellow-first {
  margin-left: 40%;
  margin-right: auto;
  width: 10%;
  margin-top: 1%;
  margin bottom: 10%;
  background-color: #DDE0D7;
  border: 1px solid black;
  color: #01AABC;
  font-size: 15px;
}

.container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 480px;
  width: 600px;
  background-color: #94F2FC;;
  border: 3px solid black;
}

#reset-button {
  background-color: #DDE0D7;
  border: 1px solid black;
  color: #01AABC;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: #E2D3DF;
  color: black;
  cursor: pointer;
}
