*{
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #8F2D56;
  color: #CEEAE5;
  font-size: 25px;
}

body {
  background-color: #EFDFDC;
}

h3 {
  color: black;
  text-align: center;
  border: 2px solid #8F2D56;
}
#TicTacToe {
  color: #428484;
  border: 2px solid  #8F2D56;
  width: 20%;
  text-align: center;
}
