*{
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #3BD8DD;
  color: white;
  font-size: 25px;
}

body {
  background-color: #E8FEFF;
}

h3 {
  color: black;
  text-align: center;
  border-bottom: 3px solid black;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 2%;
  font-size: 20px;
}

h2 {
  color: black;
  border: 2px solid black;
  background-color: #DDE0D7;
  height: 20px;
  font-size: 15px;
  width: 350px;
  text-align: center;
  margin-top: 3%;
  margin-left: 5%;
}
h2:hover {
  background-color:#E2D3DF;
}
img {
  border: 1px solid black;
  margin-left: 75px;
  margin-top: 3%;
}
