*{
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #8F2D56;
  color: #99E1D9;
  font-size: 25px;
}

body {
  background-color: #EFDFDC;
}

h3 {
  color: black;
  text-align: center;
  border: 2px solid #8F2D56;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 2%;
}
a {
  color: black;
  border: 2px solid #8F2D56 ;
  width: 20%;
  text-align: center;
}
a:hover{
  background-color: #99E1D9;
}
