*{
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #3BD8DD;
  color: white;
  font-size: 25px;
}

body {
  background-color: #E8FEFF;
}

h3 {
  color: black;
  text-align: center;
  border-bottom: 3px solid black;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 2%;
  font-size: 20px;
}

#tic-tac-toe-css {
  color: red;
  border: 2px solid #8F2D56 ;
  width: 20%;
  text-align: center;

}
a:hover{
  background-color: #99E1D9;
}
